@import "variables";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;

  &:hover {
    background-color: mat-color($app-foreground, divider);

    ::-webkit-scrollbar-thumb {
      background-color: mat-color($app-foreground, divider);
    }
  }
}

::-webkit-scrollbar-thumb {
  background-color: mat-color($app-foreground, divider);
  border-radius: 3px;
}
