@import "variables";

$padding: 15px;

data-table {
  display: block;
  position: relative;
  border: $admin-card-border;
  box-shadow: $admin-card-box-shadow;
  background-color: mat-color($app-background, dialog);
  border-radius: 4px;

  .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .multiline-column {
    flex-direction: column;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: flex-start;
    justify-content: center;
  }

  .search-input {
    background-color: mat-color($app-background, dialog);
  }

  .header-inner {
    display: flex;
    align-items: center;
    height: 85px;
    padding: $padding;
    border-bottom: 1px solid transparent;
    overflow: hidden;

    &.selected {
      background-color: mat-color($app-accent, emphasis);
      color: mat-color($app-foreground, secondary-text);
      font-size: 1.5rem;
      border-color: mat-color($app-foreground, divider);

      .right {
        button {
          margin: 0 4px;
          border: 1px solid mat-color($app-foreground, divider);
          border-radius: 3px;
          padding: 0 8px;
          vertical-align: middle;
        }
      }
    }

    .left {
      flex: 1 1 auto;

      .text {
        text-transform: capitalize;
      }

      .title {
        font-size: 1.8rem;
        color: mat-color($app-foreground, secondary-text);
        margin-left: 15px;
        text-transform: capitalize;
      }

      button, a {
        margin-right: 5px;
      }
    }

    .right {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      .filter-button {
        margin: 0 8px;

        &.active {
          color: mat-color($app-accent, default);
        }
      }

      .input-container {
        max-width: 250px;
        position: relative;
        margin-right: 10px;
        flex-shrink: 0;

        &:last-of-type {
          margin-right: 0;
        }

        .mat-icon {
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
    }
  }

  .mat-table {
    padding: 0 $padding;
    background-color: inherit;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mat-column-avatar, .mat-column-image {
    flex: 0 0 35px;
    margin-right: 35px;

    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .mat-column-user, .name-with-image {
    margin-right: 15px;

    media-image {
      flex-shrink: 0;
    }

    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 4px;
      flex-shrink: 0;
    }
  }

  .mat-column-select {
    overflow: initial;
    flex: 0 0 50px;
    margin-right: 25px;
  }

  .mat-column-edit {
    flex: 0 0 50px;
    color: mat-color($app-foreground, secondary-text);
    margin-left: 25px;

    &.multiple-icons {
      flex: 0 0 104px;
    }
  }

  // needed if mat-table bg color is removed on mobile
  .mat-row {
    background-color: mat-color($app-background, dialog);
  }

  no-results-message {
    padding: 65px 0;
  }

  .mat-chip {
    text-transform: capitalize;
  }

  .mat-header-cell, .mat-sort-header-button {
    text-transform: capitalize;
  }
}
