@import "../../../../scss/_variables";

navigation-bar {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 12px;

  .scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    @media only screen and (max-width: 1150px) {
      justify-content: flex-start;

      .separator {
        display: none;
      }
    }
  }

  button.control-button {
    text-align: center;
    margin: 0 12px;
    flex: 0 0 auto;

    &[disabled] {
      opacity: 0.4;
      cursor: default;
    }

    .control-icon {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin: 0 auto;
      color: mat-color($app-foreground, text);
    }

    .name {
      display: block;
      margin-top: 2px;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

  .separator {
    height: 75px;
    width: 1px;
    flex: 0 0 1px;
    background-color: mat-color($app-foreground, divider-lighter);
    margin: 0 20px;
  }
}
